.navbar-custom {
  background-color: #044791;
}
.navbar-text {
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: flex-start;
}
a {
  padding-bottom: 0;
}
p {
  margin-bottom: 0.3rem;
}
.card-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #034891;
  color: white;
  box-shadow: 10px 10px 50px #a5b2c1;
  border-radius: 10px;
  width: 500px;
  height: 20vh;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
